body {
    margin: 0%;
    padding: 0%;
    background-color: #212121;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}

label {
    font-weight: bold;
    padding-right: 15px;
}

#height,
#weight {
    height: 20px;
    text-align: center;
    border-radius: 10px;
    border-style: none;
}

.button {
    width: 130px;
    height: 25px;
    font-weight: bold;
    font-size: 15px;
    background-color: #04AA6D;
    border-radius: 10px;
    border-style: none;
}
.result{
    margin: 35px;
    padding: 10px;
    font-size: 35px;
    height: 60px;
}